@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* All */
/* Navbar text */
body {
    font-family: 'Poppins', sans-serif;
}

/* sidebar->container->row->col */
.box-sidebar {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    padding: 20px;
}

/* sidebar->container->row->col */
.box-sidebar a {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 7px;
    border-radius: 5px;
}

/* sidebar->container->row->col */
.box-sidebar a:hover {
    background-color: #5D6D7E;
    color: #ffffff;
}

/* sidebar->container->row->col */
.box-sidebar .active {
    border-color: #34495E;
    background-color: #34495E;
    color: #ffffff !important;
}

/* container->row->col */
.box-content {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    padding: 20px;
}

/* class for text in job description to have whitespace */
.desc {
    white-space: pre-wrap
}


