.admin-body {
    background: #EAECEE;
}

.user-profile-picture {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.registered-user-bar {
    display: flex;
    justify-content: center;
}
