.career-image {
    width: 60%;
}

.career-post-profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}

.career-post-image-box {
    border: 1px solid yellow;
    width: 900px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.career-post-image {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
