.pupt-title {
    color: #ffffff;
}

.container-greetings {
    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: #ffffff;
}

.welcome-title {
    font-size: 40px;
    font-weight: 600;
}

.icon-socials {
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    font-size: 40px;
}

.icon-socials:hover {
    color: #C0392B;
}

.img-features {
    height: 210px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #D5D8DC;
}

.card-content {
    height: 200px;
    overflow: hidden;
}

.card-text-title {
    font-size: 30px;
    font-weight: 500;
}

footer {
    margin-top: 100px;
}
