.landing-bg {
    background-color: #F8F9F9;
}

.pupt-title {
    color: #ffffff;
    font-size: 20px;
}

.landing-navbar {
    background-color: #7B241C;
}

.container-greetings {
    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: #ffffff;
}

.welcome-title {
    font-size: 40px;
    font-weight: 600;
}

.button-learn-more {
    border: none;
    background: #7B241C;
    color: #ffffff;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.button-learn-more:hover {
    transform: scale(1.1);
    background: #ffffff;
    color: #7B241C;
    font-weight: bold;
}

.icon-socials {
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
}

.icon-socials:hover {
    color: #7B241C;
}

.img-features {
    height: 210px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #D5D8DC;
}

.card-content {
    height: 200px;
    overflow: hidden;
}

.card-text-title {
    font-size: 30px;
    font-weight: 500;
}

footer {
    margin-top: 100px;
}

.footer-icon-links {
    font-size: 36px;
}

.footer-landing {
    background: #EAECEE;
}

/* Login and Registration */

.auth-navbar {
    background-color: #7B241C;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.auth-login-button {
    background: #ffffff;
    text-decoration: none;
    color: #7B241C;
    padding: 6px;
    width: 100px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    font-size: 14px;
}

.auth-login-button:hover {
    transform: scale(1.1);
    background: #ffffff;
    color: #7B241C;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-login {
    background: #ffffff;
    padding: 15px 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-login-title {
    background: #7B241C;
    color: #ffffff;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

@media only screen and (max-width: 1200px) {
    .login-box-border {
        border-radius: 8px;
    }
}

@media only screen and (min-width: 1200px) {
    .login-box-border {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }
}

.landing-banner {
    background: #7B241C;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
