@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* All */
body {
    font-family: 'Poppins', sans-serif;
}

/* Footer design */
.homepage-footer {
    margin-top: 100px;
    background-color: #45526e;
    color: #ffffff;
    padding: 6px; 
}

.homepage-footer a {
    text-decoration: none;
    font-size: medium;
}

/* section->greetings */
.greetings {
    background: url('../../img/pup-bg.png') no-repeat center center fixed;
    background-size:cover;
    height: 100%;
    color: #000000;
}

.p-2 {
    padding: 5%;
}
.greetings-welcome h3,h1 {
    font-weight: bold;
    color: #000000;
}


.container-greetings {
    margin: 70px;
    width: 1200px;
}

.container-greetings h1 {
    font-size: 4em;
    font-weight: bold;
}

.form-section h2, .career-section h2 {
    font-weight: bold;
}

.carousel-img img {
    height: 300px;
    width: 500px;
}

.carousel slide img {
    height: 300px;
    width: 500px;
}

/* Sections */
.form-section img, .career-section img, .tracer-section img{
    height: 300px;
    border-radius: 10px;
}

.form-section img, .career-section img, .donation-section img, .section-tracer img{
    height: 300px;
    border-radius: 10px;
}

/* Section->container->row */
.feature-design{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    width: 1100px;
}
