@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* All */
body {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 100px;
}

/* Hover - Account Name button - Upper right*/
.user-profile-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: #ffffff;
    border-color: #78281F;
    margin-right: 15px;
}

.user-profile-button:hover {
    transition: transform 400ms;
    transform: scale(1.2);
}

.active {
    font-weight: bold;
}

/*Homepage Welcome */
.welcome-section {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.flex-item {
    display: flex;
    width: 200px;
    height: 500px;
    box-shadow: 10px 10px 10px lightgray;
}

.flex-item .greet-one {
    margin-top: 15%;
    margin-left: 5%;
}

.flex-item:nth-of-type(1) {
    background-color: white;
    width: 80%;
}

.flex-item:nth-of-type(2) {
    width: 100%;
}

.flex-item .carousel-inner img {
    width: 750px;
    height: 500px;
}
/* End Welcome Homepage */

.form-section h2, .career-section h2 {
    font-weight: bold;
}

.carousel-img img {
    height: 300px;
    width: 500px;
}

.carousel slide img {
    height: 300px;
    width: 500px;
}

/* News Homepage */
.carousel-item img{
    object-position: center;
    height: 500px;
}

.carousel slide{
    width: 1200px;
}
.news-section{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.news-section .card-header{
    font-size: 25px;
    font-style: bold;
    color: #051DE1;
}

.news {
    width: 650px;
}

.news img {
    border-radius: 10px;
}
/* End News Homepage */
