/* All */
body {
    font-family: 'Poppins', sans-serif;
}

.user-back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #78281F;
    border: none;
}

/* Hover - Account Name button - Upper right*/
.user-profile-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: #ffffff;
    border-color: #78281F;
    margin-right: 15px;
    object-fit: cover;
}

.user-profile-button:hover {
    transition: transform 400ms;
    transform: scale(1.2);
}

.active {
    font-weight: bold;
}

/*Homepage Welcome */
.welcome-section {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.flex-item {
    display: flex;
    width: 200px;
    height: 500px;
    box-shadow: 10px 10px 10px lightgray;
}

.flex-item .greet-one {
    margin-top: 15%;
    margin-left: 5%;
}

.flex-item:nth-of-type(1) {
    background-color: white;
    width: 80%;
}

.flex-item:nth-of-type(2) {
    width: 100%;
}

.flex-item .carousel-inner img {
    width: 750px;
    height: 500px;
}
/* End Welcome Homepage */

.carousel-img img {
    height: 300px;
    width: 500px;
}

.carousel slide img {
    height: 300px;
    width: 500px;
}

/* News Homepage */
.carousel-item img{
    object-position: center;
    height: 500px;
}

.carousel slide{
    width: 1200px;
}
.news-section{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.news-section .card-header{
    font-size: 25px;
    font-style: bold;
    color: #051DE1;
}

.news {
    width: 650px;
}

.news img {
    border-radius: 10px;
}
/* End News Homepage */

/* Navbar */
.navbar-user {
    background: #78281F;
    max-height: 60px;
}

.nav-user-collapse {
    background: #78281F;
}

.nav-user-modules {
    margin: 0 20px;
    padding: 0 15px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.nav-user-modules a {
    color: #ffffff;
}

.nav-user-modules:hover {
    transform: scale(1.1);
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 8px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.nav-user-modules:hover a {
    color: #ffffff;
}

.user-active {
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: #F4D03F underline wavy;
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

